*{
  margin: 0;
 padding: 0;
 font-family: Arial;
}
.Botones{
  width: 700px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
}
.cuadrado{
  background-color: #707070;
  width: 315px;
  height: 315px;
  float: right;
  margin-top: -315px;
  margin-right: 75px;
}
